[flake8]
max-line-length = 87
ignore = E203,W503,E501,W293
statistics = True
exclude =
    .git,
    __pycache__,
    .cache/,
    .pytest_cache/,
    .mypy_cache/,
    .venv/,
    .run/,
    app/secbot/db/alembic

